<div ng-controller="CommentsController as comCrtl">
    <ul class="nav nav-pills nav-stacked">
            <li class="active" ng-click="comCrtl.statusbtn()"><a href="" class="blue"><b>Comment  </b><span class="dot"> {{comCrtl.comments.length}} </span></a></li>
    </ul>

    <!-- Coments ok-->
    <div class="cmt" ng-show="comCrtl.show">
                      
    <div class="commentor" ng-repeat="comen in comCrtl.comments">

        <div class="cmt">{{comen.comment}}</div>
        <div class="autor"><small>Comented By <label ng-if="!comen.anonymus" class="red">{{comen.email}} </label> {{comen.date | date:'medium'}}</small></div>
        <em ng-if="comen.anonymus">Anonymus</em>

    </div>
    <hr>
    <div class="col-sm-2"></div>
    <form name="commentForm" ng-model="commentForm" role="form" ng-submit="commentForm.$valid && comCrtl.nueComment()" class="col-sm-8" novalidate><br>
         <p><small>Comment this pokemon</small></p>
    
    <div class="form-group">
      <input ng-model="comCrtl.comen.email" ng-disabled="comCrtl.comen.anonymus" id="email" name="email" type="email" class="form-control" placeholder="Email" ng-required="!comCrtl.comen.anonymus">
      </div>
    <div class="form-group">
      <textarea ng-model="comCrtl.comen.comment" id="comment" name="comment" class="form-control" placeholder="Comment" required></textarea>
    </div>

      <div class="form-group">

            <div class="checkbox">
              <label><input ng-model="comCrtl.comen.anonymus" ng-change="comCrtl.anonymousChanged()" type="checkbox"> Anonymus</label>
            </div>

          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-class="{ 'btn btn-danger' : commentForm.$valid === false, 'btn btn-success' : commentForm.$valid === true }">Comment!</button>
          </div>
        </div>
        

    </form>
    <!--<div ng-if="!commentForm.$valid" class="alert alert-danger">Te falta llenar algun campo o tienes algún error</h2>
    <div class="col-sm-2"></div>-->
    
  </div> 
 


</div>