<ul class="nav nav-pills nav-stacked">
    <li class="active"><a class="blue" href=""><b>Characteristics</b></a></li>
  </ul>

<table class="table table-striped">
    
    <tbody>
      <tr>

        <td><strong>Type</strong></td>
        <td ng-repeat="type in pkmCtrl.pokemon.type" class="type-{{type | lowercase}}"><span>{{type}}</span></td>
        <td></td>

      </tr>
      <tr>

        <td><strong>Heigth</strong></td>
        <td>{{pkmCtrl.pokemon.Height}}</td>
        <td></td>

      </tr>
      <tr>

        <td><strong>Atacks</strong></td>
        <td ng-repeat="Atacks in pkmCtrl.pokemon.Atacks"><span>{{Atacks}}</span></td>
        <td></td>

      </tr>
    </tbody>
  </table>
