      <!-- Encabezado Evolutions -->
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a class="blue" href="#"><b>Evolution</b></a></li>
      </ul>

<table class="table table-striped">
        
        <tbody>
          <tr ng-repeat="evolution in pkmCtrl.pokemon.evolution">    
            <td><span>{{evolution}}</span></td>
            <td><img class="img-responsive" src="img/{{evolution|lowercase}}.png" alt="{{name|lowercase}}"></td>
            <td><img ng-hide="$last" class="down-arrow" src="img/down.png" alt="down"></td>    
          </tr>
         
        </tbody>
</table>

      <!-- Evolutions -->