 <!-- Encabezado Stats -->
 <ul class="nav nav-pills nav-stacked">
    <li class="active"><a class="blue" href="#"><b>Stats</b></a></li>
    </ul>

<table class="table table-striped">
    
    <tbody>
        <tr>

        <td><strong>Power</strong></td>
        <td class="type-hability"><span>{{pkmCtrl.stats.Power}}</span></td>
        <td></td>

        </tr>
        <tr>

        <td><strong>Velocity</strong></td>
        <td class="type-hability"><span>{{pkmCtrl.stats.Velocity}}</span></td>
        <td></td>

        </tr>
        <tr>

          <td><strong>Stamina</strong></td>
          <td class="type-hability"><span>{{pkmCtrl.stats.Stamina}}</span></td>
          <td></td>

        </tr>
    </tbody>
    </table>

    <!-- Stats -->