<html ng-app="pokedex">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Pokedésk</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/angular.min.js"></script>
        <Script src="js/app.js"></Script>

    </head>
    <body>

    <div ng-controller="PokemonController as pkmCtrl" class="text-center">

    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#"><strong>PoKédesk | Los Pokemon 1° Generación</strong></a>
                </div>
                <ul class="nav navbar-nav">
                <li class="active text-center"><a href="#"><strong><h2>{{pkmCtrl.pokemon.name}} {{pkmCtrl.pokemon.id}}</h2></strong></a></li>
                <!--<li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>-->
                </ul>
            </div>
    </nav>

        
            <h4>Seed Pokemon</h4>
            <img id="pokemon" src="{{'img/'+pkmCtrl.pokemon.name+'.png' | lowercase}}" alt="{{pkmCtrl.pokemon.name}}">
            
            <!-- Tabs -->
            <div ng-controller="TabsController as tabs">
            <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a class="blue"><b>Menu</b></a></li>
                    <li ng-class="{activered : tabs.tab == 1}"><a ng-click="tabs.selecTab(1)">Pokedex</a></li>
                    
                    <li ng-class="{activered : tabs.tab == 2}"><a ng-click="tabs.selecTab(2)">Stats</a></li>
                    <li ng-class="{activered : tabs.tab == 3}"><a ng-click="tabs.selecTab(3)">Evolution</a></li>
            </ul>

            <div ng-show="tabs.tab === 1" class="characteristics">
              <pokemon-data></pokemon-data>  
            </div>
            

            <div ng-show="tabs.tab === 2" class="stats">
               <pokemon-stats></pokemon-stats>
            </div>

            <div ng-show="tabs.tab === 3" class="evolutions">

            <pokemon-evolution></pokemon-evolution>

            </div>
            </div>

            <pokemon-comment></pokemon-comment>

        </div>

        <footer>
        </footer>
    </body>
</html>